<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Ngfloatinglabels : floating labels for angular js with floating validation">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css"/>
    <link rel="stylesheet" href="example/app.css">
    <link rel="stylesheet" href="src/ng-floating-labels.css">

    <title>Ngfloatinglabels</title>
</head>

<body>

<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner">
        <a id="forkme_banner" href="https://github.com/alexnoise79/ngFloatingLabels">View on GitHub</a>

        <h1 id="project_title">Ngfloatinglabels</h1>

        <h2 id="project_tagline">floating labels for angular js with floating validation</h2>

        <section id="downloads">
            <a class="zip_download_link" href="https://github.com/alexnoise79/ngFloatingLabels/zipball/master">Download
                this project as a .zip file</a>
            <a class="tar_download_link" href="https://github.com/alexnoise79/ngFloatingLabels/tarball/master">Download
                this project as a tar.gz file</a>
        </section>
    </header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
        <p><a href="https://github.com/alexnoise79/ngFloatingLabels"><img
                src="https://badge.fury.io/gh/https%3A%2F%2Fgithub.com%2Falexnoise79%2FngFloatingLabels.svg"
                alt="GitHub version"></a> <a href="http://badge.fury.io/bo/angular-floating-labels"><img
                src="https://badge.fury.io/bo/angular-floating-labels.svg" alt="Bower version"></a></p>

        <h1>
            <a id="floating-validation-and-labels-for-angularjs" class="anchor"
               href="#floating-validation-and-labels-for-angularjs" aria-hidden="true"><span
                    class="octicon octicon-link"></span></a>Floating Validation and Labels for AngularJS</h1>

        <h1>
            <a id="description" class="anchor" href="#description" aria-hidden="true"><span
                    class="octicon octicon-link"></span></a>Description</h1>

        <hr>

        <h3>
            <a id="this-module-has-two-directives" class="anchor" href="#this-module-has-two-directives"
               aria-hidden="true"><span class="octicon octicon-link"></span></a>This module has two directives</h3>

        <ul>
            <li>
                <code>floatingValidation</code>

                <ul>
                    <li>which listen for angular validation events and show/hide the floated label</li>
                </ul>
            </li>
            <li>
                <code>floatingLabel</code>

                <ul>
                    <li>which show/hide the placeholder as label when type on</li>
                </ul>
            </li>
        </ul>

        <h1>
            <a id="installation" class="anchor" href="#installation" aria-hidden="true"><span
                    class="octicon octicon-link"></span></a>Installation</h1>

        <hr>

        <h2>
            <a id="bower" class="anchor" href="#bower" aria-hidden="true"><span class="octicon octicon-link"></span></a>Bower:
        </h2>

<pre><code>&gt; bower install angular-floating-labels --save
</code></pre>

        <h1>
            <a id="usage" class="anchor" href="#usage" aria-hidden="true"><span class="octicon octicon-link"></span></a>Usage
        </h1>

        <hr>

        <ul>
            <li>import customizable css in your project</li>
        </ul>

        <div class="highlight highlight-html">
            <pre>&lt;<span class="pl-ent">link</span> <span class="pl-e">rel</span>=<span class="pl-s"><span
                    class="pl-pds">"</span>stylesheet<span class="pl-pds">"</span></span> <span class="pl-e">href</span>=<span
                    class="pl-s"><span class="pl-pds">"</span>src/ng-floating-labels.css<span
                    class="pl-pds">"</span></span>&gt;</pre>
        </div>

        <ul>
            <li>import script in your page</li>
        </ul>

        <div class="highlight highlight-html">
            <pre>&lt;<span class="pl-ent">script</span> <span class="pl-e">src</span>=<span class="pl-s"><span
                    class="pl-pds">"</span>src/ngFloatingLabels.js<span class="pl-pds">"</span></span>&gt;&lt;/<span
                    class="pl-ent">script</span>&gt;</pre>
        </div>

        <ul>
            <li>inject the module dependency</li>
        </ul>

        <div class="highlight highlight-js">
            <pre>angular.module(<span class="pl-s"><span class="pl-pds">'</span>yourProject<span class="pl-pds">'</span></span>, [<span
                    class="pl-s"><span class="pl-pds">'</span>ngFloatingLabels<span
                    class="pl-pds">'</span></span>]);</pre>
        </div>

        <ul>
            <li>include the directive on your input or select element</li>
        </ul>

        <div class="highlight highlight-html">
            <pre>&lt;<span class="pl-ent">input</span> <span class="pl-e">type</span>=<span class="pl-s"><span
                    class="pl-pds">"</span>text<span class="pl-pds">"</span></span> <span
                    class="pl-e">placeholder</span>=<span class="pl-s"><span class="pl-pds">"</span>Simple Text<span
                    class="pl-pds">"</span></span> <span class="pl-e">id</span>=<span class="pl-s"><span class="pl-pds">"</span>simpleText<span
                    class="pl-pds">"</span></span> <span class="pl-e">name</span>=<span class="pl-s"><span
                    class="pl-pds">"</span>simpleText<span class="pl-pds">"</span></span> <span
                    class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>simpleText<span
                    class="pl-pds">"</span></span> <span class="pl-e">required</span> <span class="pl-e">floating-validation</span>/&gt;</pre>
        </div>

        <h4>
            <a id="attribute-placeholder-is-required" class="anchor" href="#attribute-placeholder-is-required"
               aria-hidden="true"><span class="octicon octicon-link"></span></a>attribute placeholder is
            <em>REQUIRED</em>
        </h4>

        <h4>
            <a id="the-parent-div-of-the-input-field-must-be-positionrelative-see-example-for-detail" class="anchor"
               href="#the-parent-div-of-the-input-field-must-be-positionrelative-see-example-for-detail"
               aria-hidden="true"><span class="octicon octicon-link"></span></a>the parent div of the input field must
            be <code>position:relative</code> (see example for detail)</h4>

        <h2>
            <a id="example" class="anchor" href="#example" aria-hidden="true"><span class="octicon octicon-link"></span></a>Example
        </h2>

        <div class="example" ng-app="app">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>ngFloating Validation Demo</h3>
                </div>
                <div class="panel-body">
                    <form name="floating" class="form-vertical" novalidate
                          ng-model-options="{updateOn:'default blur',debounce:{'default':500,'blur':0}}">

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Simple Text" id="simpleText" name="simpleText"
                                   ng-model="simpleText" required
                                   floating-validation/>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="MinLength Text" id="minlenghtText" name="minlenghtText"
                                   ng-model="minlenghtText" required ng-minlength="3"
                                   floating-validation/>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Only special char" id="specialChar" name="specialChar"
                                   ng-model="specialChar" required ng-pattern="/^\W/"
                                   floating-validation/>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Valid Email" id="validEmail" name="validEmail"
                                   ng-model="validEmail" required
                                   floating-validation/>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Number" id="validNumber" name="validNumber"
                                   ng-model="validNumber" required
                                   floating-validation/>
                        </div>
                        <div class="form-group">
                            <select class="form-control" ng-model="selectRequired" placeholder="Select Required" id="selectRequired" name="selectRequired"
                                    required
                                    floating-validation/>
                            <option value="" disabled>Select Required</option>
                            <option value="a">Value A</option>
                            <option value="b">Value B</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Simple Floating" ng-model="simpleFloating" id="simpleFloating"
                                   floating-label/>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Custom Validator" id="customValidator" name="customValidator"
                                   ng-model="customValidator"
                                   custom-validator custom="foo" required
                                   floating-validation />
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Async Validator" id="asyncValidator" name="asyncValidator"
                                   ng-model="asyncValidator"
                                   async-validator async="bar" required
                                   floating-validation />
                        </div>

                        <div class="form-group">
                            <input type="checkbox" placeholder="" ng-model="simpleCheckbox" id="simpleCheckbox" required
                                   floating-validation/>
                            <label class="control-label checkbox-inline" for="simpleCheckbox">This Check is required</label>
                        </div>

                        <div class="btn-group btn-group-lg pull-right" role="group">
                            <button type="reset" class="btn btn-success" ng-click="floating.$setPristine()">Reset</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </section>
</div>

<!-- FOOTER  -->
<div id="footer_wrap" class="outer">
    <footer class="inner">
        <p class="copyright">Ngfloatinglabels maintained by <a href="https://github.com/alexnoise79">alexnoise79</a></p>

        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
    </footer>
</div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61975079-1', 'auto');
    ga('send', 'pageview');

</script>

<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://code.angularjs.org/1.3.0/angular.min.js"></script>
<script src="https://code.angularjs.org/1.3.0/angular-animate.min.js"></script>
<script src="src/ngFloatingLabels.js"></script>
<script src="example/app.js"></script>
</body>
</html>
